@CHARSET "UTF-8";

textarea {
   resize: none;
}

#uploadWrapper{
	width : 900px;
	height : 800px;
}

img[alt=upload]{
	width : 100px;
	height : 100px;
	padding : 0px !important;
	float : right;
}

#map-canvas {
	width : 450px;
	height : 350px;
}

#map-canvas img{
	max-width: inherit;
}

#westDiv {
	width : 450px;
	height : 400px;
	float : left;
	font-size : 20px;
}

#eastDiv {
	width : 400px;
	height : 400px;
	float : right;
	font-size : 20px;
}

#eastDiv #title {
	width : 300px;
}

#eastDiv #content {
	width : 300px;
}

#eastDiv #files {
	width : 300px;
	margin-top : 50px;
}

#northDiv {
	width : 900px;
	height : 400px;
}

#southDiv {
	width : 900px;
	height : 300px;
}

.miniphoto {
	height: 75px;
	border: 1px solid #000;
	margin: 10px 5px 0 0;
}