@CHARSET "UTF-8";

textarea {
   resize: none;
}

#galleryWrapper{
	width : 900px;
	height : 800px;
}

#map-canvas {
	width : 450px;
	height : 350px;
}

#map-canvas img{
	max-width: inherit;
}

#westDiv {
	width : 460px;
	height : 400px;
	float : left;
	font-size : 20px;
}

#eastDiv {
	width : 400px;
	height : 400px;
	float : right;
	font-size : 20px;
}

#eastDiv #title {
	width : 300px;
}

#eastDiv #content {
	width : 300px;
}

#eastDiv #files {
	width : 300px;
	margin-top : 50px;
}

#northDiv {
	width : 900px;
	height : 500px;
}

#southDiv {
	width : 900px;
	height : 300px;
}

#myCarousel {
	width:900px;
	height:500px;
	border: 2px solid #AAA;	
}

.carousel-control{
	margin-top:10px;
}

.photoBox {
	width: 900px;
	height: 500px;
}