@CHARSET "UTF-8";

#mainWrapper{
	width : 900px;
	height : 800px;
}

img[alt=main]{
	display: block; 
	margin-top:20px;
	margin-bottom:20px;
	margin-left: auto; 
	margin-right: auto;
}

#map-canvas {
	width:900px;
	height:500px;
}

#map-canvas img{
	max-width: inherit;
}

#miniGallery {
	width:310px;
	height:210px;
}
#myCarousel {
	width:300px;
	height:200px;
	border: 2px solid #AAA;	
}

#carouselBtn {
}

#miniGallery #zoom{
	width:30px;
	height:30px;
}

.carousel-inner {
}

.item{
}

.photoBox {
	width:300px;
	height:200px;
}

.carousel-control{
	height:20px;
	width:20px;
	margin-top:80px;
}

#carouselBtn #show{	
	height:20px;
	width:20px;
	margin-left:120px;
	margin-top:80px;
}



